* {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("akep.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: #222;
  align-items: center;
}

.add-box {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;

  background: #ffffff;
  padding: 14px;
  border-radius: 14px;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 1px 0 rgba(255, 255, 255, 0.8) inset;

    background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

#title {
  flex: 1;
  border: none;
  outline: none;

  font-size: 15px;
  padding: 10px 12px;
  border-radius: 10px;

  background: #f1f2f4;
  color: #222;

  transition:
    background 0.15s ease,
    box-shadow 0.15s ease;
}

#title::placeholder {
  color: #8a8a8a;
}

#title:focus {
  background: #e9ebef;
  box-shadow: 0 0 0 2px rgba(60, 100, 200, 0.25);
}

#add {
  height: 40px;
  padding: 0 16px;

  border: none;
  border-radius: 10px;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  background: #1e3a8a;
  color: #fff;

  transition:
    background 0.15s ease,
    transform 0.1s ease;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin: 14px 0 0 0;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;

  background: #ffffff;
  padding: 12px 14px;
  border-radius: 12px;

  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.08),
    0 1px 0 rgba(255, 255, 255, 0.8) inset;

    background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.08),
    0 1px 0 rgba(255, 255, 255, 0.2) inset;

  margin-bottom: 10px;

  transition:
    transform 0.12s ease,
    box-shadow 0.12s ease;
  width: 300px;
}

button{
  background-color: transparent;
  border: transparent;
  border-radius: 5px;
  padding: 0px;
  font-size: 15px;
  cursor: pointer;
}

/* Kiemelés a billentyűzetes 1–10 kijelöléshez */
#todo-list li.selected {
  background-color: rgba(30, 58, 138, 0.15); /* halvány kék háttér */
  border-radius: 6px;
}